body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.big-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.small-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    border: 2px solid #000;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 24px;
    border: 1px solid #000;
    cursor: pointer;
}

#status {
    margin-top: 20px;
    font-size: 18px;
}
