<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviços</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Imprima&display=swap" />
    <link rel="stylesheet" href="css/contato.css" />
</head>
<body>
    <header id="header" >
        <nav id="nav-bar" >
          <ul>
            <li><a class="nav-link" href="home.view.html" >Home</a></li>
            <li><a class="nav-link" href="servicos.view.html" >Serviços</a></li>
            <li><a class="nav-link" href="sobre_nos.view.html" >Sobre Nós</a></li>
            <li><a class="nav-link" href="contato.view.html" >Contato</a></li>
          </ul>
        </nav>
    </header>
    <main>

      <!-- Título principal -->
      <h1>Atendimento ao Cliente</h1>

      <!-- Seção principal contendo 3 grandes divs -->
      <div class="container">
        <!-- Primeira grande div: Agendamentos -->
        <div class="section" id="agendamentos">
            <h2>Agendamentos</h2>
            <p>Agende aqui já sua revisão preventiva ou manutenção</p>
            <img src="img/calendar_icon.png" alt="Ícone de Calendário">
        </div>

        <!-- Segunda grande div: Informações para contato -->
        <div class="section info_cliente" id="contato">
            <h2>Informações para contato</h2>
            <p><img src="img/whatsapp_icon.png" alt="Ícone WhatsApp"> (61)99915-1454</p>
            <p><img src="img/email_icon.png" alt="Ícone Email"> AutoMasterCeub@gmail.com</p>
        </div>

        <!-- Terceira grande div: Serviços mais pedidos -->
        <div class="section" id="servicos">
            <h2>Serviços mais pedidos</h2>
            <p>Troca de óleo</p>
            <p>Revisão da Parte Elétrica</p>
        </div>
      </div>

      <!-- Rodapé com logo -->
      <footer>
          <img src="img/logo_automaster.png" alt="Logo AutoMaster">
      </footer>

    </main>
</body>
</html>