<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoMaster - Home</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Imprima&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jaini&display=swap" />
    <link rel="stylesheet" href="css/home.css" />
</head>
<body>
    <header id="header">
        <nav id="nav-bar">
            <ul>
                <li><a class="nav-link" href="home.view.html">Home</a></li>
                <li><a class="nav-link" href="servicos.view.html">Serviços</a></li>
                <li><a class="nav-link" href="sobre_nos.view.html">Sobre Nós</a></li>
                <li><a class="nav-link" href="contato.view.html">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="grid-container">
            <section class="banner">
                <img src="img/logo.png" alt="Logo AutoMaster" class="banner-logo">
                <p>Deixe seu carro nas mãos dos profissionais que mais entendem do assunto!</p>
                <img src="img/mecanico.png" alt="Imagem de mecânico" class="banner-image">
            </section>

        
            <section class="specialties">
                <h2>Especialidades</h2>
                <div class="brands">
                    <img src="img/citroen.png" alt="Citroën">
                    <img src="img/peugeot.png" alt="Peugeot">
                    <img src="img/cherry.png" alt="Chery">
                    <img src="img/renaut.png" alt="Renault">
                </div>
            </section>

            <section class="testimonials">
                <h2>Depoimentos</h2>
                <div class="testimonial">
                    <p><strong>Jorge Aragão</strong></p>
                    <p>⭐</p>
                    <p>"A pior oficina que já fui. Queria fazer apenas um balanceamento, mas condenaram meu motor. Não recomendo nem para o meu pior inimigo.".</p>
                </div>
                <div class="testimonial">
                    <p><strong>Jessé Gomes da Silva</strong></p>
                    <p>⭐</p>
                    <p>Me cobraram um troca de carburador sendo que meu carro tem partida elétrica.</p>
                </div>
                <div class="testimonial">
                    <p><strong>Jorge Duílio Lima Menezes</strong></p>
                    <p>⭐⭐</p>
                    <p>"Levei minha Mercedes e eles se recusaram a me atender, dizendo que só mexem em carros de verdade, como franceses e chineses."</p>
                </div>
            </section>
        </div>
    </main>
</body>
</html>
