<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Imprima&display=swap" />
    <link rel="stylesheet" href="css/sobre_nos.css" />
</head>
<body>
    <header id="header" >
          <nav id="nav-bar" >
            <ul>
              <li><a class="nav-link" href="home.view.html" >Home</a></li>
              <li><a class="nav-link" href="servicos.view.html" >Serviços</a></li>
              <li><a class="nav-link" href="sobre_nos.view.html" >Sobre Nós</a></li>
              <li><a class="nav-link" href="contato.view.html" >Contato</a></li>
            </ul>
          </nav>
    </header>
    <main>
        <section id="SobreNos">
    
            <div class="grid">
              <div class="icon">
                <span class="material-symbols-outlined feature-symbol icon-large">question_mark</span>
                
              </div>
              <div class="desc">
                <h2 class="desc-text">Quem Somos</h2>
                <p class="desc-text">
                    Na Automaster, nossa missão é garantir que cada veículo 
                    receba o cuidado e a atenção que ele merece. Com mais 
                    de 1 mês de experiência no mercado, somos especializados 
                    em oferecer serviços automotivos de alta qualidade, sempre 
                    com foco na satisfação e segurança de nossos clientes. 
                    Nossa oficina é equipada com tecnologia de ponta, e 
                    nossa equipe é composta por profissionais altamente 
                    capacitados, que estão sempre atualizados com as últimas 
                    tendências e inovações do setor.
                </p>
    
              </div>
            </div>
    
            <div class="grid">
              <div class="icon">
                <span class="material-symbols-outlined icon-large">check_box</span>
              </div>
              <div class="desc">
                <h2 class="desc-text">Nossa Missão e Valores</h2>
                <p class="desc-text">
                    Acreditamos que a excelência em serviços mecânicos vai além
                     de apenas resolver problemas – é sobre prevenir futuros danos
                     , garantir a segurança na estrada e proporcionar uma experiência 
                     positiva a cada cliente. Valorizamos a transparência, o 
                     respeito e a honestidade, sempre mantendo uma comunicação 
                     clara sobre os diagnósticos e as soluções oferecidas para o 
                     seu veículo. Nossa missão é ser a sua oficina de confiança, 
                     onde você pode ter certeza de que seu carro estará em boas mãos.
                </p>
    
              </div>
            </div>
    
            <div class="grid">
              <div class="icon">
                <span class="material-symbols-outlined icon-large">groups</span>
              </div>
              <div class="desc">
                <h2 class="desc-text">Nossa Equipe</h2>
                <p class="desc-text">
                    Nossa equipe é formada por mecânicos especialistas que amam 
                    o que fazem. Cada um dos nossos profissionais possui vasta 
                    experiência em diferentes áreas da mecânica automotiva, 
                    garantindo que seu veículo receba o melhor cuidado em 
                    todas as intervenções.
                </p>
    
              </div>
            </div>
    
    
        </section>
    </main>
</body>

</html>